/*  selectors */
h1 {
    color:green
}
h2{
    color: red;
    
}

p{
    color: slateblue;
}.
/* ids */
#name{
    color: snow;
    background: black;
}
/* classes */
.animals{
    color: black
    black;
}
/* psuedo selectors */
li:only-child{
    color: purple;
}
/* advanced selectors */
h2+a{

    color: red;
}
/* text coloring */
#title{
    color: #ba8509;
    color: rgb(186,133,9);
}
/* background color */
body{
    background-color: rgb(34,224,44);
}
/* image background */
body{
    background: url("");
    background-image: url("");
}
/* other background */
#sevive-image{
    height: 400px;
    width: 200px;
    background-repeat: no-repeat;
/* }gardient */
#title{
    background: linear-gradient(to right,green,blue);
}
#title{
    background: linear-gradient(160deg,rgb(94,255,126));
} 
#title{
    background: radial-gradient(red 20%,blue 20%,green 40%);
}
/* text manipulation */
body{
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    font-weight: 404;
    font-style: italic;
}
/* font family */
#remans{
    font-family: 'Courier New', Courier, monospace;
}
* BOX MODEL */

h1{
    padding-top: 30px;
    padding-bottom: 30px;
}

p{
    background: sandybrown;
    padding: 50px;
}

/* border  */

h1{
    padding-top: 30px;
    padding-bottom: 30px;
    border-style: solid;
    border-width: 10px;
    border: 13px solid yellow;
}
/* display */
display the inline elements as block elements */
.inline{
    background: yellow;
    color: white;
    display: block;
}